.btn-deconnexion {
    -fx-padding: 5 5 5 5;
    -fx-text-fill: white;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 5;
    -fx-fill: white;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.btn-deconnexion:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.btn-deconnexion:pressed {
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.background {
    /*-fx-background-image: url("/images/CoarseGrid.png");
       -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
}
/************
GLOBAL CSS
*************/

.label{
    -fx-font-family: Verdana;
}
.button.save {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: navy;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
     -fx-cursor: hand;
}
.menu-bar{
    /*-fx-background-color:#2f4f4f;*/
    -fx-background-color: transparent;
}

.menu-bar .label{
    /*-fx-text-fill: white;
    -fx-font-weight: 500;
    -fx-font-family: "Sergoe UI Light";
    -fx-font-size: 12pt;*/

}
.menu-bar .menu-item .label {
    /*-fx-text-fill: black;
    -fx-font-weight: 500;
    -fx-font-family: "Sergoe UI Light";
    -fx-font-size: 12pt;*/
}

/**************
SEARCH
***************/
.buttonSearchCloseIcon {
    -glyph-size: 15;
    -glyph-name: CLOSE;
}
.buttonSearchClose, .buttonSearchUp, .buttonSearchDown {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.searchBoxLabel {
    -fx-padding: 0 2 0 7;
}
.searchBoxLabelIcon {
    -glyph-size: 13;
    -glyph-name: SEARCH;
    -glyph-color: red;
}
.searchField:fail {
    -fx-background-color: blanchedalmond;
}
.searchField{
     /*-fx-background-color: azure;*/
}
.searchField:success{
    -fx-background-color: azure;
}
.obligatoire{
    -fx-background-color: blanchedalmond;
}
/**
JFOenix CSS
*/
.button-raised{
    -fx-padding: 0.15em;
     -fx-font-size: 10pt;
    -jfx-button-type: RAISED;
    -fx-font-weight: 400;
     -fx-background-color: green;
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-cursor: hand;
}
.button-success{
    -fx-background-color: #29a400;
}
.button-danger{
    -fx-background-color: #901313;
}
.button-attention{
    -fx-background-color: #112a83;
}
.jfx-hamburger-icon{
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color : #D63333;
    -fx-background-radius : 5px;
}
.search-box-icon {
    -fx-shape: "M10.728,9.893c0.889-1.081,1.375-2.435,1.375-3.842C12.103,2.714,9.388,0,6.051,0C2.715,0,0,2.714,0,6.051c0,3.338,2.715,6.052,6.051,6.052c0.954,0,1.898-0.227,2.744-0.656l3.479,3.478l1.743-1.742L10.728,9.893z M6.051,2.484c1.966,0,3.566,1.602,3.566,3.566c0,1.968-1.6,3.567-3.566,3.567c-1.967,0-3.566-1.6-3.566-3.567C2.485,4.086,4.084,2.484,6.051,2.484z";
    -fx-scale-shape: false;
    -fx-background-color: #aaaaaa;
}
.search-box {
    -fx-font-size: 12px;
    -fx-text-fill: #363636;
    -fx-background-radius: 10, 9;
    -fx-padding: 5 5 5 30;
}
.search-box:focused {
    /*-fx-background-radius: 15,14,16,14;*/
}
.search-clear-button {
    -fx-shape: "M9.521,0.083c-5.212,0-9.438,4.244-9.438,9.479c0,5.234,4.225,9.479,9.438,9.479c5.212,0,9.437-4.244,9.437-9.479C18.958,4.327,14.733,0.083,9.521,0.083z M13.91,13.981c-0.367,0.369-0.963,0.369-1.329,0l-3.019-3.03l-3.019,3.03c-0.367,0.369-0.962,0.369-1.329,0c-0.367-0.368-0.366-0.965,0.001-1.334l3.018-3.031L5.216,6.585C4.849,6.217,4.849,5.618,5.217,5.25c0.366-0.369,0.961-0.368,1.328,0l3.018,3.031l3.019-3.031c0.366-0.368,0.961-0.369,1.328,0c0.366,0.368,0.366,0.967,0,1.335l-3.019,3.031l3.02,3.031C14.276,13.017,14.276,13.613,13.91,13.981z";
    -fx-scale-shape: false;
    -fx-background-color: #aaaaaa;
    -fx-padding: 9.5px;
}

.split-pane-divider {
  -fx-padding: 1 ;
}
.onlyIcon{
     /*-fx-background-color: transparent;*/
     -fx-cursor: hand;
}
.button{
    -fx-cursor: hand;
}
.button-profil {
    -fx-cursor: hand;
   -fx-background-color:
           #000000,
           linear-gradient(#7ebcea, #2f4b8f),
           linear-gradient(#426ab7, #263e75),
           linear-gradient(#395cab, #223768);
       -fx-background-insets: 0,1,2,3;
       -fx-background-radius: 3,2,2,2;
       -fx-text-fill: white;
       -fx-font-size: 12px;
}
.button:pressed, .button-profil:pressed{
   -fx-background-color:
                    #000000,
                    linear-gradient(#5a61af, #51536d),
                    linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
        -fx-background-insets: 0,1,2,3;
        -fx-background-radius: 3,2,2,2;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
        -fx-text-fill: #395306;
}
.button .glyph-icon {
    -fx-fill: black;
}
.button-profil .glyph-icon{
    -fx-fill: white;
}
.combo-box:disabled, .combo-box:disabled > * {
    -fx-opacity: 1.0 ;
}
.check-box:disabled, .check-box:disabled > * {
    -fx-opacity: 1.0 ;
}
.date-picker:disabled, .date-picker:disabled > * {
    -fx-opacity: 1.0 ;
}
.toggle-button{
    /*-fx-outer-border-color: darkblue;
    -fx-outer-border-width: 1;*/
    -fx-border-radius:none;
    -fx-background-radius:0;
     -fx-border-color: #e2e2e2;
     -fx-border-width: 1;
    -fx-background-color: white;
    /* -fx-background-color: #ee543a , white;*/

      /*-fx-background-color:
                 #8b0000,
                 linear-gradient(#5a61af, #51536d),
                 linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
        -fx-background-insets: 0, 1 5 1 6;*/
}
.toggle-button:pressed{
    -fx-text-fill: white;
    -fx-background-color: #ee543a, #373e48;
    -fx-background-insets: 0, 0 0 0 6;
}
.toggle-button:selected {
     /* -fx-text-fill: white;
  -fx-background-color:
  black,
  linear-gradient(to bottom, derive(red,-90%) 0%, derive(blue,-60%) 100%),
  linear-gradient(to bottom, derive(red,-60%) 0%, derive(blue,-35%) 50%, derive(red,-30%) 98%, derive(blue,-50%) 100%),
  linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
  -fx-background-insets: 0, 0 0 0 6;*/
   -fx-text-fill: white;
      -fx-background-color: #ee543a, #373e48;
      -fx-background-insets: 0, 0 0 0 6;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
        -fx-background-color: #f0e68c;
       /*-fx-background-insets: 0, 1, 2;*/
       /*-fx-background: -fx-accent;*/
       /*-fx-background: #800000;*/
       -fx-text-fill: black;
}
#toolbarViewerRight {
    display:none;
}
.row-certifie{
    -fx-background-color: rgba(255, 248, 33, .4);
    /*-fx-control-inner-background: rgb(255, 248, 33);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}

.row-acertifier{
    -fx-background-color: rgba(255, 159, 160, .4);
    /*-fx-control-inner-background: rgb(255, 159, 160);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}

.row-encours{
    -fx-background-color: #7fffd4;
    /*-fx-control-inner-background: rgb(255, 205, 158);*/
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: #cce3f4;
    -fx-cell-focus-inner-border: #85b9de;
}

.table-row-cell:empty {
    padding:0;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.popOver{
    margin:10;
    padding:10;
}
/** Utiliser dans planification pour tache fait ou non fait */
.non-fait{
    -fx-background-color: #ff4500;
}
/****
    NOTIFICATION PANE
 ******/
.notification-bar>.pane {
    -fx-background-color: #373e48;
    -fx-padding: 5 5 5 5;
    /*-fx-background-insets: 0, 1, 2;*/
    -fx-text-fill: white;
}

.notification-bar>.pane .title {
    -fx-font-size: 1.333em; /*16px;*/
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 1.333em; /*16px;*/
    -fx-text-fill:white;
    -fx-alignment: top-left;
}

/******************************************************************************
 *
 * Close button
 *
 *****************************************************************************/

.notification-bar>.pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-bar>.pane .close-button:pressed {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}

.notification-bar>.pane .close-button>.graphic {
     -fx-background-color: #fff;
     -fx-scale-shape: false;
     -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button:pressed>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button>.graphic {
     -fx-shape:
    "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}
.notification-bar{
    -fx-font-size: 0.8em;
     -fx-font-weight: 100;
}
.pane{
     -fx-background-color: #fff;
}