
.background {
    /*-fx-background-image: url("/images/CoarseGrid.png");
       -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
}
/************
GLOBAL CSS
*************/

.label{
    -fx-font-family: Verdana;
}
.button.save {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: navy;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
     -fx-cursor: hand;
}
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);

}
.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-font-weight: 500;
}

.menu .left-container {
    -fx-background-color: black;
}

/**************
SEARCH
***************/
.buttonSearchCloseIcon {
    -glyph-size: 15;
    -glyph-name: CLOSE;
}
.buttonSearchClose, .buttonSearchUp, .buttonSearchDown {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.searchBoxLabel {
    -fx-padding: 0 2 0 7;
}
.searchBoxLabelIcon {
    -glyph-size: 13;
    -glyph-name: SEARCH;
    -glyph-color: red;
}
.searchField:fail {
    -fx-background-color: blanchedalmond;
}
.searchField{
     /*-fx-background-color: azure;*/
}
.searchField:success{
    -fx-background-color: azure;
}
.obligatoire{
    -fx-background-color: blanchedalmond;
}
/**
JFOenix CSS
*/
.button-raised{
    -fx-padding: 0.15em;
     -fx-font-size: 10pt;
    -jfx-button-type: RAISED;
    -fx-font-weight: 400;
     -fx-background-color: green;
    -fx-pref-width: 100;
    -fx-text-fill: WHITE;
    -fx-cursor: hand;
}
.button-success{
    -fx-background-color: #29a400;
}
.button-danger{
    -fx-background-color: #901313;
}
.button-attention{
    -fx-background-color: #112a83;
}
.jfx-hamburger-icon{
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color : #D63333;
    -fx-background-radius : 5px;
}
.search-box-icon {
    -fx-shape: "M10.728,9.893c0.889-1.081,1.375-2.435,1.375-3.842C12.103,2.714,9.388,0,6.051,0C2.715,0,0,2.714,0,6.051c0,3.338,2.715,6.052,6.051,6.052c0.954,0,1.898-0.227,2.744-0.656l3.479,3.478l1.743-1.742L10.728,9.893z M6.051,2.484c1.966,0,3.566,1.602,3.566,3.566c0,1.968-1.6,3.567-3.566,3.567c-1.967,0-3.566-1.6-3.566-3.567C2.485,4.086,4.084,2.484,6.051,2.484z";
    -fx-scale-shape: false;
    -fx-background-color: #aaaaaa;
}
.search-box {
    -fx-font-size: 12px;
    -fx-text-fill: #363636;
    -fx-background-radius: 10, 9;
    -fx-padding: 5 5 5 30;
}
.search-box:focused {
    -fx-background-radius: 15,14,16,14;
}
.search-clear-button {
    -fx-shape: "M9.521,0.083c-5.212,0-9.438,4.244-9.438,9.479c0,5.234,4.225,9.479,9.438,9.479c5.212,0,9.437-4.244,9.437-9.479C18.958,4.327,14.733,0.083,9.521,0.083z M13.91,13.981c-0.367,0.369-0.963,0.369-1.329,0l-3.019-3.03l-3.019,3.03c-0.367,0.369-0.962,0.369-1.329,0c-0.367-0.368-0.366-0.965,0.001-1.334l3.018-3.031L5.216,6.585C4.849,6.217,4.849,5.618,5.217,5.25c0.366-0.369,0.961-0.368,1.328,0l3.018,3.031l3.019-3.031c0.366-0.368,0.961-0.369,1.328,0c0.366,0.368,0.366,0.967,0,1.335l-3.019,3.031l3.02,3.031C14.276,13.017,14.276,13.613,13.91,13.981z";
    -fx-scale-shape: false;
    -fx-background-color: #aaaaaa;
    -fx-padding: 9.5px;
}

.split-pane-divider {
  -fx-padding: 1 ;
}
.onlyIcon{
     -fx-background-color: transparent;
     -fx-cursor: hand;
}
.actionButton{
    -fx-cursor: hand;
    -fx-font-size: 10pt;
    -fx-padding: 2 10 2 10;
    -fx-text-fill: #fff;
    -fx-background-color: #080c50 ;
}
.actionButton .glyph-icon {
    -fx-fill: white;
}
.combo-box:disabled, .combo-box:disabled > * {
    -fx-opacity: 1.0 ;
}