<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/servicepro</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property -->

        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <!-- property name="hibernate.connection.url">jdbc:hsqldb:./data/servicepro</property -->
        <property name="hibernate.connection.url">jdbc:hsqldb:file:data/servicepro</property>
        <!-- property name="hibernate.connection.url"> jdbc:hsqldb:hsql://localhost/servicepro</property-->
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>



        <!-- MS ACCESS -->
        <!-- property name="hibernate.connection.driver_class"> sun.jdbc.odbc.JdbcOdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:odbc:servicepro.mdb</property -->

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- c3p0 connection pool parameters -->
        <property name="hibernate.c3p0.min_size">15</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">6000</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.max_statements">2000</property>
        <property name="hibernate.c3p0.idle_test_period">6000</property>

        <!-- hibernate batching parameters -->
        <property name="hibernate.jdbc.batch_size">30</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>

        <mapping resource="mapping/section.hbm.xml" />
        <mapping resource="mapping/niveauetude.hbm.xml" />
        <mapping resource="mapping/modele.hbm.xml" />
        <mapping resource="mapping/formateur.hbm.xml" />

        <mapping class="com.cfao.app.beans.Personne" />
        <mapping class="com.cfao.app.beans.Personnel" />
        <mapping class="com.cfao.app.beans.Domaine" />
        <mapping class="com.cfao.app.beans.EtatFormation" />
        <mapping class="com.cfao.app.beans.Pays" />
        <mapping class="com.cfao.app.beans.User" />
        <mapping class="com.cfao.app.beans.Groupe" />
        <mapping class="com.cfao.app.beans.Langue" />
        <mapping class="com.cfao.app.beans.Potentiel" />
        <mapping class="com.cfao.app.beans.Contrat" />
        <mapping class="com.cfao.app.beans.Ambition" />
        <mapping class="com.cfao.app.beans.Formation" />
        <mapping class="com.cfao.app.beans.Profil" />
        <mapping class="com.cfao.app.beans.Typeformation" />
        <mapping class="com.cfao.app.beans.Societe" />


        <mapping class="com.cfao.app.beans.Niveau" />
        <mapping class="com.cfao.app.beans.ProfilPersonne" />
        <mapping class="com.cfao.app.beans.ProfilPersonneId" />
        <mapping class="com.cfao.app.beans.Poste" />
        <mapping class="com.cfao.app.beans.Competence" />

        <mapping class="com.cfao.app.beans.Support" />
        <mapping class="com.cfao.app.beans.SupportFormation" />
        <mapping class="com.cfao.app.beans.SupportFormationId" />

        <mapping class="com.cfao.app.beans.PersonneCompetence" />
        <mapping class="com.cfao.app.beans.PersonneCompetenceId" />
        <mapping class="com.cfao.app.beans.CompetenceCertification" />
        <mapping class="com.cfao.app.beans.Qcm" />
        <mapping class="com.cfao.app.beans.QcmType" />
        <mapping class="com.cfao.app.beans.PersonneQcm" />
        <mapping class="com.cfao.app.beans.PersonneQcmId" />
        <mapping class="com.cfao.app.beans.LangueParlee" />
        <mapping class="com.cfao.app.beans.LangueParleeId" />

        <mapping class="com.cfao.app.beans.FormationPersonne" />
        <mapping class="com.cfao.app.beans.FormationPersonneId" />
        <mapping class="com.cfao.app.beans.FormationCompetence" />
        <mapping class="com.cfao.app.beans.FormationCompetenceId" />
          </session-factory>
</hibernate-configuration>